.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 1rem;
}

.menu-item a,
.logo {
    text-decoration: none;
    color: #333;
}

.logo {
    font-size: 1.5rem;
}

.menu-btn {
    display: none;
    width: 35px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.bar {
    height: 3px;
    background-color: #333;
    margin: 0.5rem 0;
}

.menu-btn::after,
.menu-btn::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #333;
}

.dropdown {
    position: relative;
}

.dropdown-list {
    display: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    padding: 0.75rem;
    position: absolute;
}

.dropdown-list a:not(:first-child) {
    margin-top: 0.5rem;
}

.show-dropdown {
    display: flex;
    flex-direction: column;
}


@media(max-width: 400px) {
    .menu-btn {
        display: block;
    }

    .main-nav {
        flex-wrap: wrap;
    }

    .menu-list {
        flex-basis: 100%;
        flex-grow: 1;
        flex-direction: column;
    }

    .menu-item {
        margin-top: 0.5rem;
    }

    .nav-hidden {
        display: none;
    }
}